AZR-VD-UAT-ADF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AZR-VD-UAT-ADF"
		},
		"LS_EDW_UAT_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_EDW_UAT'"
		},
		"LS_METAL_UAT_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_METAL_UAT'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_t_pub_user')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_eBao_uat_aw_uat_pub",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dataset_t_pub_user"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`t_pub_user`"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_EDW_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_EDW_UAT_connectionString')]"
				},
				"connectVia": {
					"referenceName": "Data-UAT-ADF-IR-via-VNet",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_METAL_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_METAL_UAT_connectionString')]"
				},
				"connectVia": {
					"referenceName": "Data-UAT-ADF-IR-via-VNet",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Collections_Procedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_tcollections_location",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcollection_location]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tcollections_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_tcollections_location",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcollection_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tcollection_additional_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_tcollections_coverage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcollection_additional_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tcollection_scheduled_item_detail",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_tcollection_additional_coverage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcollection_scheduled_item_detail]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "StoredProcedure EXEC"
				},
				"annotations": [],
				"lastPublishTime": "2024-08-30T14:32:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Home_Procedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_thome_location",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_thome_location]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_thome_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_thome_location",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_thome_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_thome_additional_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_thome_coverage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_thome_additional_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "StoredProcedure EXEC"
				},
				"annotations": [],
				"lastPublishTime": "2024-08-30T14:32:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Ref_Procedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_tbroker",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tbroker]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tcustomer",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcustomer]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tinternal_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tinternal_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_UAT",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "StoredProcedure EXEC"
				},
				"annotations": [],
				"lastPublishTime": "2024-08-30T14:32:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_int_claims_payments_audit')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dataset_int_claims_payments_audit"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "int_claims_payments_audit"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_t_pub_diary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dataset_t_pub_diary"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "t_pub_diary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_t_pub_user')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dataset_t_pub_user"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "t_pub_user"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_LS_AWS_DMS_dd8_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MetadataDrivenCopy_LS_AWS_DMS_dd8_20240605"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_LS_AWS_DMS_dd8_DestinationDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					},
					"cw_schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_LS_AWS_DMS_dd8_20240605"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_20230530"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_DestinationDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_20230530"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_SourceDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_METAL_UAT",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_20230530"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_METAL_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_eBao_to_Edw_stage_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MetadataDrivenCopy_eBao_to_Edw_stage"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_eBao_to_Edw_stage_DestinationDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_eBao_to_Edw_stage"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_eBao_to_Edw_stage_FullLoad_mqq_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MetadataDrivenCopy_eBao_to_Edw_stage_FullLoad_mqq_20230905"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_eBao_to_Edw_stage_FullLoad_mqq_DestinationDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_eBao_to_Edw_stage_FullLoad_mqq_20230905"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Metal_to_Vault_Manual_zue_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Metal_to_Vault_Manual_zue_20230705"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Metal_to_Vault_Manual_zue_DestinationDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_UAT",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Metal_to_Vault_Manual_zue_20230705"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_UAT')]"
			]
		}
	]
}