ADF/pipeline/MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_BottomLevel.json
{
	"name": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_BottomLevel",
	"properties": {
		"description": "This pipeline will copy objects from one group. The objects belonging to this group will be copied parallelly.",
		"activities": [
			{
				"name": "ListObjectsFromOneGroup",
				"description": "List objects from one group and iterate each of them to downstream activities",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ObjectsPerGroupToCopy",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RouteJobsBasedOnLoadingBehavior",
							"description": "Check the loading behavior for each object if it requires full load or incremental load. If it is Default or FullLoad case, do full load. If it is DeltaLoad case, do incremental load.",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FullLoad",
										"activities": [
											{
												"name": "FullLoadOneObject",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().SinkObjectSettings).schema}.@{json(item().SinkObjectSettings).table}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@json(item().CopySourceSettings).sqlReaderQuery",
															"type": "Expression"
														},
														"isolationLevel": {
															"value": "@json(item().CopySourceSettings).isolationLevel",
															"type": "Expression"
														},
														"partitionOption": {
															"value": "@json(item().CopySourceSettings).partitionOption",
															"type": "Expression"
														},
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@json(item().CopySourceSettings).partitionColumnName",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@json(item().CopySourceSettings).partitionUpperBound",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@json(item().CopySourceSettings).partitionLowerBound",
																"type": "Expression"
															},
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBatchTimeout": "08:00:00",
														"preCopyScript": {
															"value": "@{json(item().CopySinkSettings).preCopyScript}",
															"type": "Expression"
														},
														"writeBehavior": {
															"value": "@json(item().CopySinkSettings).writeBehavior",
															"type": "Expression"
														},
														"sqlWriterUseTableLock": {
															"value": "@json(item().CopySinkSettings).sqlWriterUseTableLock",
															"type": "Expression"
														},
														"upsertSettings": {
															"value": "@json(item().CopySinkSettings).upsertSettings",
															"type": "Expression"
														},
														"tableOption": {
															"value": "@{json(item().CopySinkSettings).tableOption}",
															"type": "Expression"
														},
														"disableMetricsCollection": true
													},
													"enableStaging": false,
													"parallelCopies": 32,
													"validateDataConsistency": false,
													"dataIntegrationUnits": 32,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SinkObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SinkObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "DeltaLoad",
										"activities": [
											{
												"name": "GetMaxWatermarkValue",
												"description": "Query the source object to get the max value from watermark column",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Start Time",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat(\n  'SELECT',\n  '  COALESCE(',\n  '    CASE',\n  '      WHEN T.max_created >= T.max_updated THEN T.max_created',\n  '      ELSE T.max_updated',\n  '    END,',\n  '    ''1900-01-01T00:00:00.000Z''',\n  '  ) AS CurrentMaxWaterMarkColumnValue',\n  ' FROM (',\n  '    SELECT',\n  '      MAX(',\n  json(item().DataLoadingBehaviorSettings).watermarkColumnName,\n  ') AS max_created,',\n  '      MAX(',\n  json(item().DataLoadingBehaviorSettings).watermarkColumnNameUpdate,\n  ') AS max_updated',\n  '    FROM ',\n  json(item().SourceObjectSettings).schema,\n  '.[',\n  json(item().SourceObjectSettings).table,\n  ']',\n  ') AS T;'\n)",
															"type": "Expression"
														},
														"isolationLevel": "ReadUncommitted",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "DeltaLoadOneObject",
												"description": "Copy the changed data only from last time via comparing the value in watermark column to identify changes.",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "GetMaxWatermarkValue",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().SinkObjectSettings).schema}.@{json(item().SinkObjectSettings).table}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@{json(item().CustomScript).SelectStatement} [@{json(item().SourceObjectSettings).schema}].[@{json(item().SourceObjectSettings).table}] \n    where ([@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}] > @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, \n    concat('''', json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, ''''))}\n    and [@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}] <= @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, \n    concat('''', activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, ''''))})\n    or ([@{json(item().DataLoadingBehaviorSettings).watermarkColumnNameUpdate}] > @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnNameUpdatType, 'Int'),\n    json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, \n    concat('''', json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, ''''))}\n    and [@{json(item().DataLoadingBehaviorSettings).watermarkColumnNameUpdate}] <= @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnNameUpdatType, 'Int'),\n    activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, \n    concat('''', activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, ''''))})",
															"type": "Expression"
														},
														"isolationLevel": {
															"value": "@{json(item().CopySourceSettings).isolationLevel}",
															"type": "Expression"
														},
														"partitionOption": {
															"value": "@json(item().CopySourceSettings).partitionOption",
															"type": "Expression"
														},
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@{json(item().CopySourceSettings).partitionColumnName}",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@{json(item().CopySourceSettings).partitionUpperBound}",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@{json(item().CopySourceSettings).partitionLowerBound}",
																"type": "Expression"
															},
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBatchTimeout": "08:00:00",
														"preCopyScript": {
															"value": "@{json(item().CopySinkSettings).preCopyScript}",
															"type": "Expression"
														},
														"writeBehavior": {
															"value": "@json(item().CopySinkSettings).writeBehavior",
															"type": "Expression"
														},
														"sqlWriterUseTableLock": {
															"value": "@json(item().CopySinkSettings).sqlWriterUseTableLock",
															"type": "Expression"
														},
														"upsertSettings": {
															"value": "@json(item().CopySinkSettings).upsertSettings",
															"type": "Expression"
														},
														"tableOption": {
															"value": "@{json(item().CopySinkSettings).tableOption}",
															"type": "Expression"
														},
														"disableMetricsCollection": true
													},
													"enableStaging": false,
													"parallelCopies": 32,
													"validateDataConsistency": false,
													"dataIntegrationUnits": 32,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SinkObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SinkObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "UpdateWatermarkColumnValue",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "End Time",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[edw_stage].[UpdateWatermarkColumnValue_1i1]",
													"storedProcedureParameters": {
														"Id": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"watermarkColumnStartValue": {
															"value": {
																"value": "@activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_EDW_UAT",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Update Last Execution Time",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "UpdateWatermarkColumnValue",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[edw_stage].[UpdateLastExecutionColumnValue_1i1]",
													"storedProcedureParameters": {
														"id": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"LastExecutionDateValue": {
															"value": {
																"value": "@pipeline().TriggerTime",
																"type": "Expression"
															},
															"type": "String"
														},
														"LastExecutionStartValue": {
															"value": {
																"value": "@variables('start_time')",
																"type": "Expression"
															},
															"type": "String"
														},
														"LastExecutionEndValue": {
															"value": {
																"value": "@variables('end_time')",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_EDW_UAT",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Start Time",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "start_time",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											},
											{
												"name": "End Time",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "DeltaLoadOneObject",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "end_time",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "DefaultFullLoadOneObject",
										"description": "Take a full snapshot on this object and copy it to the destination",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
											},
											{
												"name": "Destination",
												"value": "@{json(item().SinkObjectSettings).schema}.@{json(item().SinkObjectSettings).table}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@json(item().CopySourceSettings).sqlReaderQuery",
													"type": "Expression"
												},
												"isolationLevel": {
													"value": "@json(item().CopySourceSettings).isolationLevel",
													"type": "Expression"
												},
												"partitionOption": {
													"value": "@json(item().CopySourceSettings).partitionOption",
													"type": "Expression"
												},
												"partitionSettings": {
													"partitionColumnName": {
														"value": "@json(item().CopySourceSettings).partitionColumnName",
														"type": "Expression"
													},
													"partitionUpperBound": {
														"value": "@json(item().CopySourceSettings).partitionUpperBound",
														"type": "Expression"
													},
													"partitionLowerBound": {
														"value": "@json(item().CopySourceSettings).partitionLowerBound",
														"type": "Expression"
													},
													"partitionNames": "@json(item().CopySourceSettings).partitionNames"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "@json(item().CopySinkSettings).preCopyScript",
													"type": "Expression"
												},
												"writeBehavior": {
													"value": "@json(item().CopySinkSettings).writeBehavior",
													"type": "Expression"
												},
												"sqlWriterUseTableLock": {
													"value": "@json(item().CopySinkSettings).sqlWriterUseTableLock",
													"type": "Expression"
												},
												"upsertSettings": {
													"value": "@json(item().CopySinkSettings).upsertSettings",
													"type": "Expression"
												},
												"tableOption": {
													"value": "@json(item().CopySinkSettings).tableOption",
													"type": "Expression"
												},
												"disableMetricsCollection": {
													"value": "@json(item().CopySinkSettings).disableMetricsCollection",
													"type": "Expression"
												}
											},
											"enableStaging": false,
											"validateDataConsistency": false,
											"translator": {
												"value": "@json(item().CopyActivitySettings).translator",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_SourceDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_schema": {
														"value": "@json(item().SourceObjectSettings).schema",
														"type": "Expression"
													},
													"cw_table": {
														"value": "@json(item().SourceObjectSettings).table",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_DestinationDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_schema": {
														"value": "@json(item().SinkObjectSettings).schema",
														"type": "Expression"
													},
													"cw_table": {
														"value": "@json(item().SinkObjectSettings).table",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"concurrency": 50,
		"parameters": {
			"ObjectsPerGroupToCopy": {
				"type": "Array"
			}
		},
		"variables": {
			"start_time": {
				"type": "String"
			},
			"end_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_20230530"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-30T14:32:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}