AZR-VD-PREPROD-ADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AZR-VD-PREPROD-ADF"
		},
		"LS_EDW_PREPROD_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_EDW_PREPROD'"
		},
		"LS_metal_prePROD_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_metal_prePROD'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_EDW_PREPROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Integration runtime using SQL server in PREPROD.  -> \nazrvaultdatapreprod001",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_EDW_PREPROD_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_metal_prePROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_metal_prePROD_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_9g4')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-09-06T20:20:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_yex')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-09-06T20:26:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS-PREPROD')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Collections_Procedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_tcollections_location",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcollection_location]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tcollections_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_tcollections_location",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcollection_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tcollection_additional_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_tcollections_coverage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcollection_additional_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tcollection_scheduled_item_detail",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_tcollection_additional_coverage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcollection_scheduled_item_detail]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "StoredProcedure EXEC"
				},
				"annotations": [],
				"lastPublishTime": "2023-07-11T13:42:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Home_Procedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_thome_location",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_thome_location]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_thome_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_thome_location",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_thome_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_thome_additional_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_thome_coverage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_thome_additional_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "StoredProcedure EXEC"
				},
				"annotations": [],
				"lastPublishTime": "2023-07-11T13:42:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Ref_Procedure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_tbroker",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tbroker]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tcustomer",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tcustomer]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_tinternal_coverage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[edw_core].[sp_tinternal_coverage]"
						},
						"linkedServiceName": {
							"referenceName": "LS_EDW_PREPROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "StoredProcedure EXEC"
				},
				"annotations": [],
				"lastPublishTime": "2023-07-11T13:42:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DROP1_9g4_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DROP1_9g4_20230906"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DROP1_9g4_DestinationDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DROP1_9g4_20230906"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DROP1_o1f_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DROP1_o1f_20230912"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DROP1_o1f_DestinationDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DROP1_o1f_20230912"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DROP1_o1f_SourceDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DROP1_o1f_20230912"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DROP2_yex_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DROP2_yex_20230906"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DROP2_yex_DestinationDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "DROP2_yex_20230906"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_20230530"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_DestinationDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_20230530"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_SourceDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_metal_prePROD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_schema": {
						"type": "String"
					},
					"cw_table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "MetadataDrivenCopy_MetalDB_to_Edw_stage_1i1_20230530"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().cw_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_metal_prePROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataDrivenCopy_eBao_to_Edw_stage_ControlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EDW_PREPROD",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MetadataDrivenCopy_eBao_to_Edw_stage"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "edw_stage",
					"table": "ControlLoadTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EDW_PREPROD')]"
			]
		}
	]
}